@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('assets/fonts/Museo\ Sans\ Cyrl\ 500.ttf') format('truetype');
}

:root {
  --font-primary: 'MuseoSansCyrl', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-primary-color: #333;
  --font-secondary-color: #4f4f4f;
  --default-color: #4f62f6;
  --hover-color: #7181fc;
  --pressed-color: #354bf4;
  --disabled-background-color: #e0e0e0;
  --background-color: #edeffe;
  --focus-color: #828282;
  --disabled-color: #828282;
  --error-color: #eb5757;
  --white: #fff;
  --black: #000;
}

* {
  font-family: var(--font-primary);
  color: var(--font-primary-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .title {
  align-self: start;
}

#navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #fff;
}

.logo {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-menu {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 24px;
  border: none;
  background-color: transparent;
}

#inMenuToggleLanguageButton {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  position: relative;
  border: 1px var(--black) solid;
  border-radius: 60px;
  padding: 10px 16px;
}

.detailed-info {
  font-family: var(--font-secondary);
  color: var(--font-secondary-color);
  line-height: 30px;
}

.relative {
  position: relative;
}

.avatar {
  width: 73px;
  height: 73px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
}

.avatar-img {
  width: 73px;
}

.button {
  font-size: 0.8rem;
  background-color: var(--default-color);
  color: #fff;
  border-radius: 60px;
  border: transparent;
  text-align: center;
  padding: 15px;
}

.button:hover {
  background-color: var(--hover-color);
}

.button:active {
  background-color: var(--pressed-color);
}

.button:disabled {
  background-color: var(--disabled-background-color);
  color: var(--disabled-color);
}

.slide-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #fff;

  cursor: pointer;
  border: 1px var(--disabled-color) solid;
  border-radius: 90px;
}

.faq-item {
  border: 2px var(--default-color) solid;
  border-radius: 10px;
  width: 80%;
  margin: 10px;
  padding: 10px;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 320px) {
  #navbar {
    padding: 15px 20px;
  }

  .nav-links-container {
    display: none;
  }

  .nav-links-container.active {
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    top: 100%;
    z-index: 100;
    gap: 5px;
  }

  .nav-languages {
    display: none;
  }

  .nav-languages.active {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    padding: 17px;
  }

  #outOfMenuSignInButton {
    display: none;
  }

  .landing-page {
    background-color: var(--background-color);

    width: 100%;
    /* padding-bottom: 2 0px; */
  }

  .container {
    margin: 15px;
  }

  .title {
    font-size: 2.2rem;
    position: relative;
    width: 80%;
  }

  .info {
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 27px;
  }

  .first-section-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  mark {
    background-color: #edeffe;
    padding: 2px;
  }

  .chart {
    object-fit: contain;
    margin: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .title-background {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .fast-and-easy {
    max-width: fit-content;
    padding: 0 5px 5px 0;
  }

  .second-section-info {
    border: 2px var(--default-color) solid;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
  }

  .count {
    color: var(--default-color);
    font-size: 15px;
    font-weight: bold;
  }

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* opacity: 0.7; */
    width: 100%;
  }

  #slider-footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    align-items: center;
  }

  #counter {
    display: flex;
    /* justify-content: space-between; */
  }

  #slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s ease;
    text-align: center;
  }

  #testimonial {
    font-size: 24px;
  }

  #commas-element {
    margin: 10px 0;
  }

  .slide {
    min-width: 100%; /* Ensure each slide is full width */
    opacity: 0; /* Hide slides initially */
    transition: opacity 0.3s ease;
    text-align: center;
  }

  .slide.active {
    opacity: 1; /* Show active slide */
  }

  .name {
    font-weight: bold;
  }

  .position {
    font-style: italic;
  }

  .slide-indicator {
    display: inline-block;
    margin-top: 10px;
  }

  .faq-item {
    width: 80%;
    margin: 10px;
    padding: 10px;
  }

  .faq-item:active {
    border: 2px var(--default-color) solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }

  .faq-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .faq-question {
    width: 189px;
  }

  .faq-toggle {
    width: 32px;
    height: 32px;
  }

  .faq-answer {
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 27px;
  }

  .contact {
    background-color: var(--background-color);
  }

  #contact-general-info {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-method {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .contact-address {
    font-family: var(--font-secondary);
  }

  .form-container {
    background-color: #fff;
    border: 2px var(--default-color) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 50px 0 50px 0;

    padding: 40px 0;
  }

  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* gap: 20px; */
  }

  .input-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .form-input {
    border: 1px #e0e0e0 solid;
    border-radius: 3px;
    font-family: var(--font-secondary);
    height: 20px;
    padding: 10px;
    outline: none;
  }

  .form-error {
    display: flex;
    width: 80%;
    height: 10px;
    margin: 2px;
    align-items: start;
    color: var(--error-color);
    font-size: x-small;
  }

  .form-input:hover,
  .form-input:active {
    border-color: var(--focus-color);
  }

  #form-message {
    display: flex;
    align-items: start;
    height: 89px;
    font-family: var(--font-secondary);
    outline: none;
  }

  #form-btn {
    margin-top: 20px;
    padding: 20px 64px;
  }

  #footer-container {
    gap: 32px;
  }

  #footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #platform-links {
    gap: 32px;
    display: flex;
    flex-direction: column;
    place-self: start;
  }

  #platform-links a {
    font-size: 15px;
    font-weight: bold;
  }

  .footer-titles {
    font-weight: bold;
    font-size: 18px;
  }

  .terms-and-policies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 321px) {
  #navbar {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
  }

  #tablet-navbar-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #outOfMenuSignInButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    /* place-self: center;?? */
  }

  #inMenuSignInButton {
    display: none;
  }

  .nav-links-container {
    display: none;
  }

  .nav-links-container.active {
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    position: absolute;
    top: 100%;
    right: 0;

    z-index: 100;
    gap: 5px;
  }

  .nav-languages {
    display: none;
  }

  .nav-languages.active {
    display: flex;
    flex-direction: column;
    padding: 17px;
  }

  #toggleLanguageButton {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    position: relative;
    border: 1px var(--black) solid;
    border-radius: 60px;
    padding: 10px 16px;
  }
}

@media only screen and (min-width: 769px) {
  #navbar {
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
  }

  .nav-links-container {
    display: flex;
    position: relative;
  }

  #toggleMenu {
    display: none;
  }

  #inMenuToggleLanguageButton {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    position: relative;
    border: 1px var(--black) solid;
    border-radius: 60px;
    padding: 10px 16px;
  }
  .nav-languages {
    display: none;
  }

  .nav-languages.active {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 17px;
    position: absolute;
  }

  #inMenuSignInButton {
    display: none;
  }
}
